header {
    min-width: 375px;
    height: 172px;
    background-image: url(../../images/bg-sidebar-mobile.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.siteNav {
    width: 180px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-inline: auto;
}

.link {
    width: 33px;
    height: 33px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    display: grid;
    place-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    background-color: #BEE2FD;
    color: black;
    border: none;
}