.addonContainer {
  width: 343px;
  height: 367px;
  padding-left: 24px;
  padding-top: 32px;
  background-color: white;
  border-radius: 8px;
  height: 383px;
}
.addon {
  width: 295px;
  height: 62px;
  margin-top: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #d6d9e6;
}

.addon:hover {
  border: 1px solid #483eff;
  cursor: pointer;
}

.addonChecked {
  border: 1px solid #483eff;
}

.addon:first-of-type {
  margin-top: 22px;
}

.addon-options {
  margin: 16px;
  width: 20px;
  height: 20px;
}

.addon-options:checked {
  background-color: #483eff;
}

.addon-explanation {
  width: 164px;
  height: 39px;
  margin: 0;
}

.addon-explanation {
  cursor: pointer;
}

.heading {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--denim);
}

.subheading {
  font-size: 12px;
  font-weight: 400;
  color: #9699aa;
  line-height: 20px;
  margin-top: 3px;
}

.price {
  width: 43px;
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  margin-right: 16px;
  margin-left: auto;
  color: #483eff;
}

@media (min-width: 940px) {
  .addonContainer {
    background-color: white;
    padding: 0;
    margin-left: 100px;
    margin-top: 56px;
    width: 450px;
    height: 372px;
  }

  .addon {
    margin-top: 16px;
    width: 450px;
    height: 81px;
  }

  .addon:first-of-type {
    margin-top: 40px;
  }

  .addon-options {
    margin: 24px;
  }

  .addon-explanation {
    width: auto;
    height: 45px;
  }

  .heading {
    font-size: 16px;
  }

  .subheading {
    width: auto;
    font-size: 15px;
    font-weight: 400;
    margin-top: 7px;
  }

  .price {
    width: 53px;
    font-size: 15px;
    margin-right: 14px;
  }
}
