.finishContainer {
  width: 343px;
  height: 383px;
  padding-left: 24px;
  padding-top: 32px;
  background-color: white;
  border-radius: 8px;
}

.lightGrayBackground {
  background-color: #f8f9ff;
}

.base-plan-summary-container {
  margin-top: 38px;
  width: 263px;
  height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.base-plan {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--denim);
}

.changeButton {
  font-size: 14px;
  color: #9699aa;
  line-height: 20px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin-top: 3px;
}

.base-plan-total {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--denim);
}

hr {
  margin-top: 12px;
  width: 263px;
  border: none;
  border-top: 1px solid #d6d9e6;
}

.addOn-summary {
  width: 263px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.addOn-hide {
  display: none;
}

.gray-item {
  font-size: 14px;
  color: #9699aa;
  line-height: 20px;
}

.addOn-summary-item-cost {
  font-size: 14px;
  line-height: 20px;
  color: var(--denim);
}
.total-summary-container {
  margin-top: 40px;
  width: 263px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.total-cost {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #483eff;
}

@media (min-width: 940px) {
  .finishContainer {
    padding: 0;
    margin-left: 100px;
    margin-top: 56px;
    width: 450px;
    height: 372px;
  }

  .lightGrayBackground {
    width: 450px;
    height: 182px;
    padding-inline: 24px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  .base-plan-summary-container {
    width: 402px;
    height: 45px;
    margin-top: 16px;
  }

  .base-plan {
    font-size: 16px;
  }

  .changeButton {
    text-underline-offset: 2px;
    margin-top: 7px;
  }

  .base-plan-total {
    font-size: 16px;
  }

  hr {
    width: 402px;
    margin-top: 24px;
    margin-left: 4px;
  }

  .addOn-summary {
    width: 402px;
    height: 20px;
    margin-top: 16px;
  }

  .total-summary-container {
    width: 402px;
    height: 22px;
    margin-left: 24px;
  }
}
