header {
  min-width: 375px;
  height: 172px;
  background-image: url(../images/bg-sidebar-mobile.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 180px;
  height: 33px;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-inline: auto;
}

.link {
  width: 33px;
  height: 33px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

.activeLink {
  border: none;
  color: black;
}

.activeDiv {
  background: #bee2fd;
  border-radius: 50%;
}

.desktop-information {
  display: none;
}

@media (min-width: 940px) {
  header {
    background-image: url(../images/bg-sidebar-desktop.svg);
    background-position-y: bottom;
    min-width: 274px;
    height: 568px;
    margin: 16px;
    border-radius: 10px;
  }

  .navbar {
    flex-direction: column;
    width: 153px;
    height: 228px;
    margin-left: 32px;
    margin-top: 40px;
  }

  .activeDiv {
    width: 33px;
    height: 33px;
    border: none;
  }

  .desktop {
    display: flex;
  }

  .desktop-information {
    height: 33px;
    width: 153px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    margin-left: 16px;
  }

  .littleLabel {
    color: #abbcff;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 14px;
  }

  .bigLabel {
    font-size: 14px;
    font-weight: 700;
    color: white;
    line-height: 16px;
    text-transform: uppercase;
  }
}
