.thankYouContainer {
  width: 343px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgStyle {
  width: 56;
  height: 56;
  margin-top: 79px;
}

.thankYou-heading {
  margin-top: 24px;
}

.thankYou-subheading {
  width: 295px;
  height: 125px;
  text-align: center;
  line-height: 25px;
}

@media (min-width: 940px) {
  .thankYouContainer {
    width: 651px;
    height: 500px;
    justify-content: start;
  }
  .imgStyle {
    margin-top: 181px;
    width: 80px;
    height: 80px;
  }

  .thankYou-heading {
    margin-top: 32px;
    text-align: center;
  }

  .thankYou-subheading {
    margin-top: 14px;
    width: 450px;
  }
}
