header {
    width: 375px;
    height: 172px;
    background-image: url(../images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    display: flex;
}

.siteNav {
    width: 180px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-inline: auto;
}

.nav-radio{
    display: none;
}

.nav-label {
    width: 33px;
    height: 33px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: transparent;
    display: grid;
    place-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

:checked + .nav-label {
    background-color: #BEE2FD;
    color: black;
}

